<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body class="container" id="index">
<h1>blog farhan davin</h1>
<form action="/submit" method="POST"> 
  <div class="mb-3" id="judul">
  <label for="judul">judul</label>
  <input type="text" name="judul" required placeholder=" masukkan judul">
   
  </div>
  <div class="mb-3" id="pesan">
    <label for="pesan">pesan</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="pesan" required placeholder="tulis sebuah pesan...."></textarea>
    <input type="submit" value="Submit">
  </div>

  <div class="blog">
   <% if(locals.blog && locals.blog.length > 0) { %>
     <h2>Blog Posts</h2>
     <ul>
       <% locals.blog.forEach(function(post, index) { %>
        <li class="post"><h3><%= post.judul %></h3>
        <p><%= post.pesan %></p>

<a href="/edit/<%= index %>">edit</a>

        <form action="/delete" method="post" style="display: inline;">
          <input type="hidden" name="postIndex" value="<%= index %>">
          <button type="submit">hapus</button>
        </form>
        <br>
       
        </li><% }); %>
     </ul>
  <%  } else { %>
     <p>No blog posts available.</p>
  <% } %>
  </div>

</body>
<%- include("partials/footer.ejs") %>
</html>